.body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.div1{
 background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  width: 40%;
  height: 300px;
  margin-top:200px;
  margin-left: 400px;
  text-align:center;
  justify-content: center;
   align-items: center;
}

